body {
  background: url("https://upload.wikimedia.org/wikipedia/commons/7/7e/Machu_Picchu_early_morning.JPG") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

nav.navbar {
  margin-top: 15px;
}

main {
  background: rgba(255,255,255, 0.7);
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
}